*{
    margin: 0;
    padding: 0;
}
.search-form input[type="text"]{
    margin: 10px;
    padding: 5px;
    width: 80%;
}
.search-form input[type="submit"]{
    margin: 5px;
    padding: 5px 8px;
}
.search-form {
    width: 50%;
    text-align: center;
}
.news-summary {
    padding: 15px 5px;
    border: 1px solid gray;
}
.news-search-item, .all-news-item {
    width: 49%;
    padding: 8px;
    display: inline-block;
    box-sizing: border-box;
}
.news-summary .title {
    font-size: 19px;
    padding: 10px 0;
    text-decoration: none;
    color: darkslateblue;
}
.news-summary .publisher {
    font-size: 20px;
    color: darkslategray;
}
.news-summary .description {
    font-size: 16px;
    color: black;
    padding: 8px 0;
}
.similar-news-block {
    background-color: #cacaca;
    margin-left: 15px;
}